{% extends "furo/page.html" %}

{% block content %}
    {{ super() }}

    <hr />

    <script src="https://giscus.app/client.js"
        data-repo="OasisPioneer/Modern-CPP-Full-Stack-Tutorial"
        data-repo-id="R_kgDOQ0uvPA"
        data-category="Announcements"
        data-category-id="DIC_kwDOQ0uvPM4C0rb_"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>

{% endblock %}